  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  html {
    overflow-y: scroll;
    color-scheme: light;
  }
  
  html.dark {
    color-scheme: dark;
  }
  
  html,
  body {
    @apply size-full;
  }
  
  body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-gray-50 dark:bg-black;
    @apply text-black dark:text-white/75;
  }
  
  header {
    @apply fixed top-0 left-0 right-0 z-50 py-5;
    @apply bg-white/80 dark:bg-cds-dark/75;
    @apply backdrop-blur-sm dark:saturate-200;
  }
  
  main {
    @apply flex-1;
  }
  
  footer {
    @apply py-5 text-sm;
  }
  
  article {
    @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-semibold prose-p:font-sans;
    @apply prose-headings:text-black prose-headings:dark:text-white ;
  }
  
  @layer utilities {
    article a {
      @apply font-sans text-current underline underline-offset-2;
      @apply decoration-black/15 dark:decoration-white/30;
      @apply transition-colors duration-300 ease-in-out;
    }
    article a:hover {
      @apply text-white;
      @apply decoration-black/25 dark:decoration-white/50;
    }
  }
  
  .animate {
    @apply opacity-100 translate-y-3;
    @apply transition-all duration-700 ease-out;
  }
  
  .animate.show {
    @apply opacity-100 translate-y-0;
  }
  
  html #back-to-top {
    @apply opacity-0 pointer-events-none;
  }
  
  html.scrolled #back-to-top {
    @apply opacity-100 pointer-events-auto;
  }